/* Pie chart size */
#pie-chart {
  min-width:1035px;
  min-height: 450px;
  
}
/* .main-svg{
  background-color: none;
} */

/* box size */
.js-plotly-plot .plotly .main-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border-radius: 20px;
  padding: 0;
  width: 100%;
  height: 390px; 
  
}

.js-plotly-plot .plotly .modebar {
  display: none;
}



/* First color */
.surface{
  pointer-events: all;
  stroke-width: 0;
  fill: rgb(34, 130, 209)!important;
  fill-opacity: 1;
  stroke: rgb(68, 68, 68);
  stroke-opacity: 1;
}

.traces:first-child .legendpoints .legendpie{
  stroke-width: 0;
  fill: rgb(34, 130, 209) !important;
  fill-opacity: 1;
  stroke: rgb(68, 68, 68);
  stroke-opacity: 1;
}

/* first blue code text */
.slicetext {
  font-family: "Open Sans", verdana, arial, sans-serif;
  font-size: 12px;
  fill: rgb(243, 241, 241) !important;
  fill-opacity: 1;
  white-space: pre;
}


/* Second color */
.trace .slice:last-child .surface{
  pointer-events: all;
  stroke-width: 0;
  fill: rgb(29, 211, 187)!important;
  fill-opacity: 1;
  stroke: rgb(68, 68, 68);
  stroke-opacity: 1;
}

.traces:last-child .legendpoints .legendpie{
  stroke-width: 0;
  fill: rgb(29, 211, 187) !important;
  fill-opacity: 1;
  stroke: rgb(68, 68, 68);
  stroke-opacity: 1;
}




/* 1325px */
@media only screen and (max-width:1325px){
  /* Pie chart size */
  #pie-chart {
    min-width:960px;
    min-height: 375px;
    margin-left: 1rem;
  }


/* box size */
.js-plotly-plot .plotly .main-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  width: 100%;
  height: 320px;
  

  
}
}


/* 1025px */
@media only screen and (max-width:1025px){
  /* Pie chart size */
  #pie-chart {
    min-width:760px;
    min-height: 375px;
    margin-left: 1rem;
  }


/* box size */
.js-plotly-plot .plotly .main-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  width: 100%;
  height: 320px;
  

  
}
}

@media only screen and (max-width:769px){
  /* Pie chart size */
  #pie-chart {
    /* position: relative !important; */
    min-width:0px;
    min-height: 0px;
    max-width: 750px !important;
    max-height: 390px !important;
    margin-right: 1rem;
    
  }

  .svg-container{
    /* position: relative !important; */
  }


/* box size */
.js-plotly-plot .plotly .main-svg {
  /* position: absolute !important; */
  top: 0px;
  left: 0px;
  pointer-events: none;
  height: 350px;
  width: 100%;
  

  
}
}

@media only screen and (max-width:460px){
  /* box size */
.js-plotly-plot .plotly .main-svg {
  top: 0px;
  left: 0px;
  pointer-events: none;
  height: none;
  max-height: 350px;
  width: 100%;
  

}
}


.dashboard_customerss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0edf0;
    
  }


.dashboard_customerss_table_title {
  display: flex;
  justify-content: center;

  font-size: 28px;
  font-weight: 800;
}


.dashboard_customerss_table_list {
  padding: 1rem 0 2rem;
  background-color: #e0edf0;
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

#customers_tables {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 1335px;
}

.customer_name_table {
  text-decoration: none;
  color: black;
}

.customer_name_table:hover {
  background-color: #16b5d5;
  color: #fff;
  opacity: 1px;
  padding: 3px;
  border-radius: 5px;
}

#updatebtn {
  background-color: #dab512;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 5px 0;
}

#updatebtn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #dab512;
}

#deletebtn {
  background-color: #da2912;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

#deletebtn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #da2912;
}

#customers_tables td,
#customers_tables th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers_tables tr {
  background-color: #fffbfb;
  text-align: left;
  
}

/* #customers_tables tr:hover {
  background-color: #ddd;
} */

#customers_tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

#pie-chart{
  max-width: 300px;
  max-height: 300px;
}


@media only screen and (max-width: 1050px) {
  #customers_tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 955px;
  }


  
  }

  

@media only screen and (max-width: 950px) {
#customers_tables {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 725px;
}



}

@media only screen and (max-width: 690px) {
  #customers_tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
   width: 0;
    max-width: 600px;
    
  }
  }

@media only screen and (max-width: 321px) {
  .dashboard_customerss_billforms {
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    margin: 1rem 0 4rem;
    border-radius: 10px;
    max-width: 300px;
  }
}



/* Product Page */

.customers_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0edf0;
}

.customers_product_prodforms {
  background-color: #fff;
  padding: 1rem 2rem 2rem;
  margin: 1rem 0 2rem;
  border-radius: 10px;
  max-width: 300px;
}

.customers_product_prodforms_title {
  display: flex;
  justify-content: center;
  padding: 0 0 1rem;
}

.customers_product_prodforms_title p {
  font-size: 28px;
  font-weight: 800;
}

.customers_product_prodforms_form p {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.customers_product_prodforms_form span{
  display: flex;
  /* justify-content: space-between; */
  padding: 0.5rem;
}

.customers_product_prodforms_form span select{
  display: flex;
  justify-content: center;
  margin: 0 0 0 1rem;
}


.customers_product_prodforms_form form {
  font-size: 18px;
  font-weight: 550;
  /* text-align: left; */
}

.customers_product_prodforms_form input {
  margin: 0 1rem 0;
}

.customers_product_prodforms_form input:hover {
  background-color: #e0edf0;
  outline: none;
  border: 1px solid #e0edf0;
}

.add_btn {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0;
}
.customers_product_prodforms_form button {
  background-color: #16b5d5;
  color: #fff;
  border: 1px solid #16b5d5;
  border-radius: 6px;
  padding: 5px;
}

@media only screen and (max-width:400px){
  .customers_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0edf0;
  }
  
  .customers_product_prodforms {
    background-color: #fff;
    padding: 1rem 0rem 2rem;
    margin: 1rem 0 2rem;
    border-radius: 10px;
    max-width: 300px;
  }

  .dashboard_customerss_table_list {
    padding: 1rem 0 1rem;
    background-color: #e0edf0;
    font-size: 11px;
    width: 100%;
  }
  
  #customers_tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
   
    
    
  }
}


