

.index_customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0edf0;
}

.index_customers_billforms {
  background-color: #fff;
  padding: 1rem 2rem 2rem;
  margin: 1rem 0 2rem;
  border-radius: 10px;
  max-width: 300px;
}

.index_customers_billforms_title {
  display: flex;
  justify-content: center;
  padding: 0 0 1rem;
}

.index_customers_billforms_title p {
  font-size: 28px;
  font-weight: 800;
}

.index_customers_billforms_form p {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}



.index_customers_billforms_form form {
  font-size: 18px;
  font-weight: 550;
  /* text-align: left; */
}

.form-control {
  margin: 0 1rem 0;
}

.form-control:hover {
  background-color: #e0edf0;
  outline: none;
  border: 1px solid #e0edf0;
}

.add_btn {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0;
}
.index_customers_billforms_form button {
  background-color: #16b5d5;
  color: #fff;
  border: 1px solid #16b5d5;
  border-radius: 6px;
  padding: 5px;
}








/* Table customer */
.index_customers_table_title {
  display: flex;
  justify-content: center;

  font-size: 28px;
  font-weight: 800;
}

.index_customer_table_list {
  padding: 1rem 0 2rem;
  background-color: #e0edf0;
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

#customers_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 925px;
}

.customer_name_table {
  text-decoration: none;
  color: black;
}

.customer_name_table:hover {
  background-color: #16b5d5;
  color: #fff;
  opacity: 1px;
  padding: 3px;
  border-radius: 5px;
}

#updatebtn {
  background-color: #dab512;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 5px 0;
}

#updatebtn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #dab512;
}

#deletebtn {
  background-color: #da2912;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

#deletebtn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #da2912;
}

#customers_table td,
#customers_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers_table tr {
  background-color: #fffbfb;
  text-align: left;
  
}

/* #customers_table tr:hover {
  background-color: #ddd;
} */

#customers_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

@media only screen and (max-width: 950px) {
#customers_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 725px;
}
}

@media only screen and (max-width: 690px) {
  #customers_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
   width: 0;
    max-width: 600px;
    
  }
  }

@media only screen and (max-width: 321px) {
  .index_customers_billforms {
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    margin: 1rem 0 4rem;
    border-radius: 10px;
    max-width: 300px;
  }
}



/* Product Page */

.customers_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0edf0;
}

.customers_product_prodforms {
  background-color: #fff;
  padding: 1rem 2rem 2rem;
  margin: 1rem 0 2rem;
  border-radius: 10px;
  max-width: 300px;
}

.customers_product_prodforms_title {
  display: flex;
  justify-content: center;
  padding: 0 0 1rem;
}

.customers_product_prodforms_title p {
  font-size: 28px;
  font-weight: 800;
}

.customers_product_prodforms_form p {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.customers_product_prodforms_form span{
  display: flex;
  /* justify-content: space-between; */
  padding: 0.5rem;
}

.customers_product_prodforms_form span select{
  display: flex;
  justify-content: center;
  margin: 0 0 0 1rem;
}


.customers_product_prodforms_form form {
  font-size: 18px;
  font-weight: 550;
  /* text-align: left; */
}

.customers_product_prodforms_form input {
  margin: 0 1rem 0;
}

.customers_product_prodforms_form input:hover {
  background-color: #e0edf0;
  outline: none;
  border: 1px solid #e0edf0;
}

.add_btn {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0;
}
.customers_product_prodforms_form button {
  background-color: #16b5d5;
  color: #fff;
  border: 1px solid #16b5d5;
  border-radius: 6px;
  padding: 5px;
}

@media only screen and (max-width:400px){
  .customers_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0edf0;
  }
  
  .customers_product_prodforms {
    background-color: #fff;
    padding: 1rem 0rem 2rem;
    margin: 1rem 0 2rem;
    border-radius: 10px;
    max-width: 300px;
  }

  .index_customer_table_list {
    padding: 1rem 0 1rem;
    background-color: #e0edf0;
    font-size: 11px;
    width: 100%;
  }
  
  #customers_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
   
    
    
  }
}


/* Login form */
.navbar_list button{
  font-size: 18px;
  padding: 0.2rem 0.4rem 0.2rem;
  color: #fff;
  background-color: #b92d1b;
  border-radius: 5px;
  border: none;
}

.navbar_list button:hover{
  background-color: #fff;
  color: #b92d1b;
  border: 1px solid #b92d1b;
}

.create_btn a{
  text-decoration: none;
  font-size: 14px;
  padding: 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030303;
 }

 .create_btn a:hover{
  
  color:#b92d1b;
 }