* {
  padding: 0;
  margin: 0;
}

.webs {
  display: flex;
  flex-direction: column;
  width: 290px;
  border: 1px solid black;
  font-family: manrope;
  font-size: 10px;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  font-weight: 800;
  text-align: center;
  font-size: 16px;
}

.header_email,
.header_phone {
  display: flex;
  align-items: center;
}

.header_email p,
.header_phone p {
  padding: 0 0 0 0.4rem;
}
.section {
  display: flex;
  flex-direction: column;
}

.section_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 16px;
}

.section_box {
  display: flex;
  border-top: 1px solid black;
  
}

.section_box_group1 {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  padding: 0 0.5rem 0;
  
 
}

.section_box_group1 p {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.section_box_phone{
    display: flex;
    align-items: center;

}

.section_box_phone p{
    padding: 0 0 0 0.2rem;

}



.section_box_group2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-left: 1px solid black;


  
}

.section_box_group2_item1{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 0.1rem 0;
}
.section_box_group2_item2{
    border-bottom: 1px solid black;
    padding: 0 0.1rem 0;
}
.section_box_group2_item3{
    border-right: 1px solid black;
    padding: 0 0.1rem 0;
}
.section_box_group2_item4{
    
    padding: 0 0.1rem 0;
}

.tables{
    padding: 0.06rem;
    font-size: 8px;
}

table, td, th {
    border: 1px solid;
    text-align: center;
    font-size: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
}

.table_total{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.table_total p{
padding: 0.2rem;
text-align: left;
font-weight: 600;

}

.table_paid p,
.table_balance p{
    padding: 0.2rem;

    width: 20%;
    
}

.table_balance p{
    padding: 0.2rem;
    font-weight: 600;
    width: 20%;
    
}



.table_paid,
.table_balance{
    display: flex;
    text-transform: capitalize;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}

.declare{
    display: flex;
    flex-direction: column;
    font-size: 8px;
}

.declare1{
    padding: 0 0.2rem 1rem;
}
.declare2{
    padding: 1rem 0.2rem 0;
}

.comp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px; 
    padding: 0.2rem  0 0;
}