{%extends 'template.html'%}

{%block content%}
<h1>Customform</h1>

<form action="" method="post">
    {%csrf_token%}
    
    <input type="text" placeholder="Product name" value="{{customer.name}}" disabled name=""><br>
    <select name="prod_name" >
        <option value="Bike">Bike</option>
        <option value="Car">Car</option>
    </select><br>
    <!-- <input type="text" placeholder="Product name" name="prod_name"><br> -->
    <input type="number" placeholder="Quantity" name="quantity"><br>
    <input type="number" placeholder="Rate" name="rate"><br>
    <button type="submit">Submit</button>
</form>

<div class="tables">
    <table>
        <tr>
            <th>S.No.</th>
            <th>Description</th>
            <th>QTY</th>
            <th>Rate</th>
            <th>Amount</th>
            <th></th>
        </tr>
        {%for prod in p1%}
        <tr>
            <td>{{forloop.counter }}</td>
            <td>{{prod.prod_name}}</td>
            <td>{{prod.quantity}}</td>
            <td>{{prod.rate|floatformat:2}}</td>
            <td>{{prod.amount|floatformat:2}}</td>
            <td><a href="{% url 'delete_product' prod.id%}"><button type="submit">Delete</button> </a>
        <a href="{% url 'update_product' prod.id%}"><button type="submit">Update</button></a></td>
        </tr>
        {%endfor%}
    </table>
    <div class="table_total">
        <p>Total</p>
        <!-- <p>NPR. {{p2.total_price}}</p> -->
    </div>
</div>
<a href="{% url 'bills' customer.id%}">Next</a>
{%endblock%}