{%extends 'template.html'%}
{%load static%}
{%block content%}
    <div class="main_content_group1_first">
        <p>Profile Statistics</p>
    </div>
    <!-- 1st content -->
    <div class="main_content">
        
        <div class="main_content_group1">
            
            <div class="main_content_group1_second">
                <div class="main_content_group1_second_item1">
                    <div class="main_content_group1_second_item1_imgs">
                        <img src="{% static 'imgs/imgs.png'%}" alt="" srcset="">
                    </div>
                    <div class="main_content_group1_second_item1_description">
                        <p>Total customer</p>
                        <span>{{cust1}}</span>
                    </div>
                </div>
                <div class="main_content_group1_second_item2">
                    <div class="main_content_group1_second_item2_imgs">
                        <img src="{% static 'imgs/imgs.png'%}" alt="" srcset="">
                    </div>
                    <div class="main_content_group1_second_item2_description">
                        <p>Total Bike</p>
                        <span>{{cust2}}</span>
                    </div>
                </div>
                <div class="main_content_group1_second_item3">
                    <div class="main_content_group1_second_item3_imgs">
                        <img src="{% static 'imgs/imgs.png'%}" alt="" srcset="">
                    </div>
                    <div class="main_content_group1_second_item3_description">
                        <p>Total Car</p>
                        <span>{{cust3}}</span>
                    </div>
                </div>
                <div class="main_content_group1_second_item4">
                    <div class="main_content_group1_second_item4_imgs">
                        <img src="{% static 'imgs/imgs.png'%}" alt="" srcset="">
                    </div>
                    <div class="main_content_group1_second_item4_description">
                        <p>Today Total</p>
                        <span>{{cust4}}</span>
                    </div>
                </div>
            </div>
            <div class="main_content_group1_third">
                <div id="pie-chart"></div>
            </div>


        </div>
        <div class="main_content_group2">
            <div></div>
            <div class="main_content_group2_item1">
                <div class="main_content_group2_item1_imgs">
                    <img src="{% static 'imgs/imgs.png'%}" alt="" srcset="">
                </div>
                <div class="main_content_group2_item1_description">
                    <p>{{user.username|capfirst}}</p>
                    <span>@adminSiddha</span>
                </div>
            </div>

            <div class="main_content_group2_item2">
                
                <div class="main_content_group2_item2_g2">
                    <div class="main_content_group2_item2_g1">
                        <p>Recenet Customers</p>
                    </div>
                    {%for cust in d2%}
                    <div class="customer1">

                        <div class="customer1_img">
                            <img src="{% static 'imgs/a.jpg'%}" alt="" srcset="">
                        </div>
                        <div class="customer1_description">
                            <p>{{cust.name|capfirst}}</p>
                            <span>{{cust.address|capfirst}}</span>
                        </div>

                    </div>
                    {%endfor%}
                    <!-- <div class="customer2">

                        <div class="customer2_img">
                            <img src="{% static 'imgs/imgs.png'%}" alt="" srcset="">
                        </div>
                        <div class="customer2_description">
                            <p>John Duck</p>
                            <span>@johnducky</span>
                        </div>

                    </div>
                    <div class="customer3">

                        <div class="customer3_img">
                            <img src="{% static 'imgs/imgs.png'%}" alt="" srcset="">
                        </div>
                        <div class="customer3_description">
                            <p>John Duck</p>
                            <span>@johnducky</span>
                        </div>

                    </div> -->
                    <div class="main_content_group2_item2_g3">
                        <a href="{% url 'customer_list'%}"><button>See All</button></a>
                    </div>
                
                    
                </div>
             
              
            
            </div>
        </div>
    </div>

   
    <div class="dashboard_customerss">
       
      
      
        <!-- <div class="dashboard_customerss_table">
          <div class="dashboard_customerss_table_title">
            <p>Customer List</p>
          </div>
          <div class="dashboard_customerss_table_list">
            <table id="customers_tables">
              <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Issued Date</th>
                <th>Action</th>
              </tr>
              {%for detail1 in d1%}
              <tr>
                <td>{{forloop.counter}}</td>
                <td> <a class="customer_name_table" href="{% url 'customform' detail1.id%}">{{detail1.name|capfirst}} </a></td>
                <td>{{detail1.joined_date}}</td>
                <td><a href="{% url 'update_customer' detail1.id%}"><button id="updatebtn" type="submit">Update</button></a>
                  <a href="{% url 'delete_customer' detail1.id%}"><button id="deletebtn" type="submit">Delete</button></a>
                </td>
              </tr>
              {%endfor%}
      
      
      
            </table>
      
          </div>
        </div> -->
      </div>


      <!-- New -->
      <div class="project_table">
        <div class="dashboard_customerss_table_title">
            <p>Customer List</p>
          </div>
        <table class="project_tables_main">
            <thead>
                <tr>
                    <th>S.No.</th>
                <th>Name</th>
                <th>Issued Date</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for detail1 in d1%}
              <tr>
                <td>{{forloop.counter}}</td>
                <td> <a class="customer_name_table" href="{% url 'customform' detail1.id%}">{{detail1.name|capfirst}} </a></td>
                <td>{{detail1.joined_date}}</td>
                <td><a href="{% url 'update_customer' detail1.id%}"><button id="updatebtn" type="submit">Update</button></a>
                  <a href="{% url 'delete_customer' detail1.id%}"><button id="deletebtn" type="submit">Delete</button></a>
                </td>
              </tr>
              {%endfor%}
            </tbody>

        </table>
    </div>


      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
     
    
      

      <script>
        Plotly.newPlot('pie-chart', JSON.parse('{{ fig2|escapejs }}'));
    </script>

{%endblock%}