{% extends 'template.html'%}

{%block content%}
    <center>
      
            <!-- New -->
      <div class="project_table" >
        <div class="dashboard_customerss_table_title" >
            <p  style="margin-top: 4rem;">You searched for  " {{searched|capfirst}} "<br> Customer List</p>
          </div>
        <table class="project_tables_main">
            <thead>
                <tr>
                    <th>S.No.</th>
                <th>Name</th>
                <th>Issued Date</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for detail1 in venues%}
              <tr>
                <td>{{forloop.counter}}</td>
                <td> <a class="customer_name_table" href="{% url 'customform' detail1.id%}">{{detail1.name|capfirst}} </a></td>
                <td>{{detail1.joined_date}}</td>
                <td><a href="{% url 'update_customer' detail1.id%}"><button id="updatebtn" type="submit">Update</button></a>
                  <a href="{% url 'delete_customer' detail1.id%}"><button id="deletebtn" type="submit">Delete</button></a>
                </td>
              </tr>
              {%endfor%}
            </tbody>

        </table>
    </div>
        
    </center>
{%endblock content%}





