{%extends 'template.html'%}

{%block content%}


<div class="index_customers">
    <div class="index_customers_billforms">
      <div class="index_customers_billforms_title">
        <p>Billing</p>
      </div>
      <div class="index_customers_billforms_form">
        <form action="" method="post">
          {%csrf_token%}
          {{form.as_p}}
          <div class="add_btn">
          <button type="submit">Add Customer</button>
            </div>
        </form>
      </div>
    </div>
    </div>


{%endblock%}